<main class="main">
  <div class="content">
    <h1>{{editSloganId ? 'Edit' : 'Add'}} your slogan</h1>
    <form [formGroup]="sloganForm" (ngSubmit)="onSubmit()">
      <p class="formInputContainer">
        <label class="formLabel" for="slogan">
          Slogan text
          <input class="formInput" type="text" name="slogan" formControlName="slogan" placeholder="Add a new slogan" id="slogan">
        </label>
      </p>
      <p class="formInputContainer">
        <label class="formLabel" for="theme">
          pick a theme
          <select
            (change)="onChange($event)"
            class="formInput formSelect"
            id="theme"
            name="theme"
          >
            <option value="1" default>Default theme</option>
            <option *ngFor="let theme of store.ThemeOptions()" value="{{theme.id}}">{{ theme.label }}</option>
          </select>
        </label>
      </p>
      <p class="formButtonContainer">
      <button>Cancel</button>
      <button type="submit">{{editSloganId ? 'Save' : 'Add slogan'}}</button>
      </p>
    </form>
  </div>
</main>
<aside class="preview">
  <div>
  <h3>Preview</h3>
  <div
    class="slogan"
    [ngStyle]="{
    'color': previewTheme.fontColor,
    'border': '0.3rem solid',
    'border-color':  previewTheme.borderColor,
    'background': previewTheme && this.getGradientBackground(previewTheme)
  }"
  >
    <h3>{{sloganForm.value.slogan}}</h3>
  </div>
  </div>
</aside>
