.main {
  min-height: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
  box-sizing: inherit;
  position: relative;
}

h1 {
  text-align: center;
}

.themes {
  width: 90vw;
  display: flex;
  justify-content: center;
}
