<main class="main">
  <div class="content">
    <h1>{{store.Themes().length}} themes available</h1>
    <h3>Add your custom theme</h3>
    <h3>Add your slogan</h3>
    <form class="addThemeForm" [formGroup]="themeForm" (ngSubmit)="onSubmit()">
      <p class="addThemeFormInputContainer">
        <label for="label">
          Theme label
          <input type="text" name="label" formControlName="label" placeholder="Add a label for the theme" id="label">
        </label>
      </p>
      <p class="addThemeFormInputContainer">
        <label for="label">
          First gradient background color
          <input type="color" name="backgroundColor" formControlName="backgroundColor" id="backgroundColor">
        </label>
      </p>
      <p class="addThemeFormInputContainer">
        <label for="label">
          Second gradient background color
          <input type="color" name="backgroundColorLeft" formControlName="backgroundColorLeft" id="backgroundColorLeft">
        </label>
      </p>
      <p class="addThemeFormInputContainer">
        <label for="label">
          Third gradient background color
          <input type="color" name="backgroundColorRight" formControlName="backgroundColorRight" id="backgroundColorRight">
        </label>
      </p>
      <p class="addThemeFormInputContainer">
        <label for="label">
          Border color
          <input type="color" name="borderColor" formControlName="borderColor" id="borderColor">
        </label>
      </p>
      <p class="addThemeFormInputContainer">
        <label for="label">
          Slogan color
          <input type="color" name="fontColor" formControlName="fontColor" id="fontColor">
        </label>
      </p>
      <button type="submit">Add theme</button>
    </form>
    <h2>Available themes</h2>
    <section class="themes">
      <div class="themes" *ngFor="let theme of store.Themes()">
        <theme [theme]="theme"></theme>
      </div>
    </section>
  </div>
</main>
