<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>{{store.Slogans().length}} shouts for earth, add yours</h1>
      <form [formGroup]="sloganForm" (ngSubmit)="onSubmit()">
        <input type="text" name="slogan" formControlName="slogan" placeholder="Add a new slogan" id="slogan">
        <button type="submit">Add slogan</button>
      </form>
      <section class="slogans">
      <div class="slogan" *ngFor="let slogan of store.Slogans()">
          <h3>{{slogan.slogan}}</h3>
          <button type="button" (click)="sloganService.deleteSlogan(slogan)">x</button>
          <app-slogan [slogan]="slogan"></app-slogan>
      </div>
      </section>
    </div>
  </div>
</main>

<router-outlet></router-outlet>
